Repository EmbarkStudios/quilkin, pull requests merged in 2022-06, with the labels that each got.

#540 Remove cross from build tools
  build/Makefile
  build/build-image/Dockerfile
Labels: kind/bug, area/build-tools, size/s

#535 Update to Rust 1.61.0
  rust-toolchain.toml
Labels: size/xs

#537 Test Utility to enable tracing logging.
  src/test_utils.rs
Labels: kind/feature, area/tests, size/s

#539 General testing cleanup
  src/proxy/server.rs
  src/proxy/sessions/session.rs
  src/test_utils.rs
  tests/compress.rs
  tests/filters.rs
  tests/firewall.rs
  tests/load_balancer.rs
  tests/local_rate_limit.rs
  tests/no_filter.rs
Labels: area/tests, kind/cleanup, size/m

#545 Tools for Agones e2e testing
  Cargo.toml
  agones/.gitignore
  agones/Cargo.toml
  agones/README.md
  agones/main.tf
  agones/src/lib.rs
  agones/src/pod.rs
  build/Makefile
  build/build-image/Dockerfile
Labels: kind/feature, area/tests, area/build-tools, size/m
